# /mac/Frutselaar.xcodeproj/project.xcworkspace/
/mac/Frutselaar.xcodeproj/project.xcworkspace/xcuserdata

# /windows/
/windows/*.vcxproj.filters
/windows/*.vcxproj.user
/windows/.vs
/windows/*.aps
/windows/Debug
/windows/Frutselaar
